.home-content
{
    width: 58%;
    height: fit-content;
    box-shadow: 0px 0px 3px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    .home-content
    {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        border-radius: 0px;
        box-shadow: 0px 0px 5px white;
    }
}