.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    gap: 20px;
}

@media screen and (max-width:500px) {
    body {
        margin: 0px;
        overflow-x: hidden;
        padding: 0px;
    }
    .container
    {
        width: 90%;
        flex-direction: column;
    }   
}