.home-content
{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.search-bar
{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    height: fit-content;
    border-bottom: 0.5px solid rgb(158, 158, 158);
    margin-bottom: 20px;
}

.search-bar i
{
    font-size: 20px;
    color:   rgb(151, 77, 7);
    padding: 4px;
    background-color:  rgb(250, 225, 201);;
    border-radius: 10px;
}

.search-bar i:hover
{
    color:   rgb(197, 120, 49);;
}

@media screen and (max-width:500px) {
    .home-content
    {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        border-radius: 0px;
        padding: 15px;
        box-shadow: 0px 0px 5px white;
    }
}
