.user-profile
{
    width: fit-content;
    height:fit-content;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-image: linear-gradient(to right bottom,white,white,rgb(255, 244, 228));
    text-align: center;
    min-width: 220px;
}

.user-profile:hover
{
    box-shadow: 0px 0px 1px black;
}

.user-profile img
{
    width: 80%;
    height: 200px;
    border-radius: 50%;
}



.user-profile button{
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(10, 2, 55);
}


@media screen and (max-width:500px) {
}